<!doctype html>
<html>
  <head>
    <title>Moviezzzzz</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Moviezzzzzzzzzz</h1>
      </header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
      <div id="search_box">
        <form method="get" action="/">
          <input type="search" name="search" />
          <button>Go!</button>
        </form>
      </div>
      <%= yield %>

    </div>
  </body>
</html>